


/* 전체 본문 */
blockquote{
  padding: 1.5em 10em;
  margin: 2em;
  font-family: Georgia, serif;
  font-size: 1em;
  color: #666;
  font-family: 'Raleway', sans-serif;
}
/* 본문 내용 */
.hline{
  border-top: 4px solid #a82929a9;
  content: "";
  z-index: 1;
  text-align:center;
  height:0;
}

.hline.top::after, .hline.bottom::after{
  /*pullquote color+formatting*/
  font-family: arial;
  font-size: 10em;
  font-weight: bold;
  text-shadow: -8px -8px 0 #fff, 8px -8px 0 #fff, -8px 8px 0 #fff, 8px 8px 0 #fff;
  color: #D9A74A;
  position:relative;
}

.hline.top::after{
  content: "\201C"; /*Unicode for Left Double Quote*/
  /*Positioning*/
  top:-0.83em;
}

.hline.bottom::after{
  content: "\201D"; /*Unicode for Right Double Quote*/  
  /*Positioning*/
  top:-0.24em;
}

  /* 본문 제목*/
blockquote h1{
  color:#2C2559;
  font-size:2em;
  text-transform:uppercase;
  font-family: Georgia, serif;
  text-align:center;
  margin-bottom:0;
}

  /*본문의 단락*/
blockquote p{
  position:relative;
  z-index:99;
  padding:1em;
  line-height: 1.4;
}

  /*캠션처리*/
blockquote cite{
  position:relative;
  padding:1em;
  display:block;
  font-family: Georgia, serif;  
}
/* 캠션 사이드 라인 */
blockquote cite:after{
  content:'';
  width:0.75em;
  border-bottom:1px solid #666;
  position:absolute;
  padding-bottom:0.5em;
  left:0;
}